- if course_period.response_unfinded_canvas
  .alert.alert-danger
    = raw (course_period.response_unfinded_canvas)
- if course_period.response_unenrolled_canvas
  .alert.alert-warning
    = raw (course_period.response_unenrolled_canvas)
-# sec_split = course_period.sections.where(number: 0).first
=# (render partial: "sections/split", locals: {section: sec_split}) if sec_split
%nav
  %ul.nav.nav-tabs
    - course_period.sections.each_with_index do |s,i| 
      - active = (i.eql? 0) ? ' active' : ''
      %li{class: active}
        = link_to s.number_to_string, "#tab-#{s.id}", "data-toggle": "tab", class: "nav-item nav-link"
    
    - if course_period.id_canvas
      = # Falta cambiar por la función sync_up_course_period de canvas_controller
      %li.tooltip-btn{"data-toggle": :tooltip, title: 'Sincronzar con Canvas'}
        = link_to "/enrollment/#{course_period.id}/sync_up_with_canvas", class: 'text-success' do
          %span.label.label-success.border.border-success
            .fa.fa-sliders
            .fa.fa-arrow-down
            Sincronizar

  
- qa_schs = course_period.period.qualification_schemas.order(:sequence)
.tab-content
  - course_period.sections.each_with_index do |s,i| 
    - active = (i.eql? 0) ? ' active' : ''
    .tab-pane{id: "tab-#{s.id}", class: active}

      .border.mt-3.p-3
        = render partial: "sections/show", locals: {section: s}
