- if session[:course_period_id].eql? course_period.id
  - if session[:unfinded]
    .alert.alert-danger.border.border-danger
      - if (session[:unfinded].count > 20)
        %h5.alert.alert-danger= 'ATENCIÓN: Hay más de 20 registros. Le recomendamos limpiar la data para ver completamente los registros encontrados.'
      = raw (course_period.canvas_format_response(session[:unfinded], 'unfinded'))
  - if session[:unenrolled]
    .alert.alert-warning.border.border-warning
      - if (session[:unenrolled].count > 20)
        %h5.alert.alert-danger= 'ATENCIÓN: Hay más de 20 registros. Le recomendamos limpiar la data para ver completamente los registros encontrados'    
      = raw (course_period.canvas_format_response(session[:unenrolled], 'unfinded'))
%nav
  %ul.nav.nav-tabs
    - course_period.sections.each_with_index do |s,i| 
      - active = (i.eql? 0) ? ' active' : ''
      %li{class: active}
        = link_to s.number_to_string, "#tab-#{s.id}", "data-toggle": "tab", class: "nav-item nav-link"

    
    %li.tooltip-btn{"data-toggle": :tooltip, title: 'Sincronzar con Canvas'}
      = link_to "/enrollment/#{course_period.id}/sync_up_width_canvas", class: 'text-success' do
        %span.label.label-success.border.border-success
          .fa.fa-sliders
          Sincronizar

.tab-content
  - course_period.sections.each_with_index do |s,i| 
    - active = (i.eql? 0) ? ' active' : ''
    .tab-pane{id: "tab-#{s.id}", class: active}
      .border.mt-3.p-3
        %b= "Total Inscritos Aceim: #{s.academic_records.count}"
        .pull-right
          

          - if s.id_canvas and s.course_period.id_canvas
            = link_to "https://canvas.instructure.com/courses/#{s.course_period.id_canvas}/sections/#{s.id_canvas}", class: 'btn btn-sm btn-info tooltip-btn', 'data-toggle': :tooltip, title: "Ir a la sección en Canvas #{s.number_to_string}", style: 'margin-right: 10px;', target: '_blank'  do
              .fa.fa-external-link
          = link_to "/admin/section/#{s.id}", class: 'btn btn-sm btn-info tooltip-btn', 'data-toggle': :tooltip, title: "Ir al detalle de esta sección #{s.number_to_string}"  do
            .fa.fa-search
          = link_to "Instructor: #{s.instructor.user.full_name}", "/admin/instructor/#{s.instructor.id}", class: 'btn btn-sm btn-info', style: 'margin-left: 10px;' if s.instructor
        = render partial: '/academic_records/index', locals: {section: s}