%p#notice= notice

%p
  %b Value:
  = @partial_qualification.value
%p
  %b Value:
  = @partial_qualification.value
%p
  %b Qualification schema:
  = @partial_qualification.qualification_schema
%p
  %b Academic record:
  = @partial_qualification.academic_record

= link_to 'Edit', edit_partial_qualification_path(@partial_qualification)
\|
= link_to 'Back', partial_qualifications_path
