
%h3{style: 'color: #6F9BED;'} 
  = "Estimado(a) #{@user.name}, 3"
%div{style: 'text-align: justify;'}

  %p= "Estamos enviando por correo las invitaciones a las aulas virtuales en #{@canvas_color} para que pueda ver su aula, tomar la prueba de nivelación (si es su caso) o cursar su nivel.".html_safe
  %p Se enviará una invitación por cada uno de los cursos inscritos y deben aceptar esa invitación. Al aceptar la invitación, se les despliega una pantalla con el nombre de su curso y nivel.

  %ol
    %li= "En esa pantalla, los estudiantes que no tienen cuenta en #{@canvas_color} deben hacer click en el rectángulo de la derecha que dice Crear Cuenta (Create Your Account) e indicar que son estudiantes. Luego aparece un formulario donde deben colocar una contraseña propia, indicar el huso horario (CARACAS), aceptar los términos y condiciones, y finalmente aceptar. Recuerden anotar bien la contraseña y anotarla en un lugar seguro para que puedan revisarla con facilidad si se les olvida.".html_safe

    %li= "Deben crear un solo usuario y allí tendrán todas los cursos que están estudiando. Es decir, una vez que ya hayan creado su usuario en #{@canvas_color}, si reciben otra invitación, solo deben aceptar esa nueva invitación e ingresar a #{@canvas_color} con su correo y contraseña del usuario que ya crearon.".html_safe

    %li= "Los estudiantes que ya tienen una cuenta en #{@canvas_color} pueden usar su mismo usuario, siempre y cuando tengan registrado en #{@aceim_color} el mismo correo con que tienen creado su usuario en #{@canvas_color}.".html_safe

    %li= "Es muy importante que al ingresar a #{@canvas_color} lo hagan utilizando su usuario y contraseña y no con una cuenta alternativa de GOOGLE, LINKEDIN, FACEBOOK, etc, porque a veces se presentan problemas de acceso y se hace muy complicado recuperar las contraseñas.".html_safe

    %li= "Una vez que hayan creado su usuario en #{@canvas_color} y aceptado la invitación para su aula virtual, pueden utilizar en enlace que les aparece en su usuario de #{@aceim_color} para ingresar a su aula, colocando su usuario y contraseña.".html_safe

    %li= "Por favor, revisen todas las carpetas de su buzón de correo, incluso la de spam o correos no deseados. Cuando ingresen a su aula virtual en #{@canvas_color}, por favor, lean con detenimiento la información que aparece en la página de inicio de su aula virtual y espere más instrucciones.".html_safe

    %li= "Los estudiantes que van a tomar la prueba de nivelación deben realizar el examen de práctica tantas veces como lo consideren prudente para que tengan éxito en el examen real de nivelación. Deben estar atentos y verificar en la página de #{@aceim_color} el día pautado para que puedan tomar la prueba de nivelación en #{@canvas_color}.".html_safe

    %li= "Los estudiantes que van a cursar algún nivel deben verificar en la página de #{@aceim_color} el día de inicio de las actividades en #{@canvas_color}.".html_safe

    %li= "Si tienen dudas o requieren de algún apoyo, pueden contactarnos por el correo fundeimucv@gmail.com.".html_safe
