.content{style: 'text-align: justify;'}
  %h4= "Estimado(a) #{@user.name}, ".html_safe
  %h4= "Su inscripción ha sido confirmada en #{@ar.course_period.description_inscription}.".html_safe
  %p= "Recuerde que de ahora en adelante podrá ingresar a su sesión de usuario en #{UserMailer::ACEIM_COLOR} mediante el botón #{ApplicationMailer::INGRESO_REGULAR_BTN}".html_safe

  %p= "Ya puede ver y descargar la factura proforma de su inscripción en su usuario de #{UserMailer::ACEIM_COLOR}.".html_safe

  %p En los próximos días recibirá información sobre los siguientes pasos.