%div{style: "background-color: #f2f2f2; padding: 30px; margin: 10px; color:rgb(54,95,145); font-size: 11pt; font-family: 'Comic Sans MS';"}
  
  %div{style: 'background: rgb(74,118,184);background: radial-gradient(circle, rgba(74,118,184,1) 0%, rgba(9,9,121,1) 78%); padding: 3px;'}
    %h3{style: 'color: #FFFFFF; text-align: center;'} UNIVERSIDAD CENTRAL DE VENEZUELA
    %h3{style: 'color: #FFFFFF; text-align: center;'} Escuela de Idiomas Modernos
    %h3{style: 'color: #FFFFFF; text-align: center;'} FUNDEIM

  %h3{style: 'color: #6F9BED; text-align: center;text-decoration-line: underline;'} BIENVENIDOS A FUNDEIM ONLINE 2020-B
  %br
  %h3{style: 'color: #6F9BED;'} Estimados estudiantes que se inscribieron en los cursos interdiarios, gusto en saludarlos.

  .content{style: 'text-align: justify;'}
    %p Todo el equipo de FUNDEIM está comprometido con este proyecto para buscar alternativas que nos permitan continuar fomentando el aprendizaje de idiomas extranjeros a distancia con base en la trayectoria de todos estos años desde el corazón de nuestra UCV.
    
    %p 
      Estamos conscientes de las limitaciones de acceso a internet que todos tenemos, por eso hemos diseñado, en esta primera versión de nuestro programa 
      %i
        %b ONLINE
      , solo actividades asíncronas para que cada estudiante pueda organizarse y buscar el tiempo y la conexión para seguir formándose a su ritmo y en el horario de su preferencia.

    %b{style: 'text-decoration-line: underline;'}
      Es muy importante que entienda las exigencias de un curso 
      %i ONLINE 
      que, si bien puede hacerlo a su ritmo, debe avanzar con un mínimo de clases cada semana. La clave es estar atentos y ser disciplinados.

    %p
      %b{style: 'text-decoration-line: underline;'}
        Los estudiantes que se vean imposibilitados para asumir la modalidad 
        %i ONLINE 
        podrán esperar a que volvamos a las clases presenciales para completar su nivel.

    %p La semana pasada logramos incorporara  un primer grupo (sabatinos) que había quedado por la mitad y ahora le toca el turno a los que se inscribieron justo antes del inicio del confinamiento y no lograron comenzar sus clases presenciales entre semana.

    %p 
      En el nuevo programa 
      %i ONLINE 
      estaremos utilizando dos plataformas, 
      %b{style: 'text-decoration-line: underline;'} una administrativa
      y
      %b{style: 'text-decoration-line: underline;'} otra académica
      , que poco a poco se irán integrando.
    %p 
      La plataforma administrativa es el nuevo 
      %b= link_to 'ACEIM', 'https://fundeim.com/'
      y allí estará todo su récord académico con nosotros, podrá realizar su inscripción y verificar su status con nuestra institución. Para ingresar al nuevo
      %b= link_to 'ACEIM', 'https://fundeim.com/'
      por favor coloque fundeim.com en su buscador, ingrese con el correo que tiene registrado y su contraseña habitual.
    %p
      Si no recuerda su contraseña de
      %b= link_to 'ACEIM', 'https://fundeim.com/'
      , puede hacer click en 
      = link_to '¿Olvidaste tu contraseña?', 'https://fundeim.com/users/password/new'
    %p
      Por favor, ingrese a 
      %b= link_to 'ACEIM', 'https://fundeim.com/'
      , actualice sus datos de contacto, preincríbase en el curso ONLINE y espere más instrucciones para realizar el segundo paso: 
      %b{style: 'text-decoration-line: underline;'} 
        su automatriculación en 
        %b{style: 'color:red'} CANVAS
        para su curso ONLINE.    
    %p 
      La otra Plataforma, la académica es 
      %b{style: 'color:red'} CANVAS
      , allí es donde va a tomar sus clases virtuales.
    %p{style: 'text-decoration-line: underline;'} 
      Es recomendable utilizar un correo gmail porque hemos tenido muchos problemas con los correos hotmail y que el correo que tienen en 
      %b= link_to 'ACEIM', 'https://fundeim.com/'
      sea el mismo de su usuario en 
      %b{style: 'color:red'} CANVAS
      para evitar confusiones al momento de enviar invitaciones e ingresar a las plataformas.
    %p
      Si ya tiene usuario en 
      %b= link_to 'CANVAS', 'https://canvas.instructure.com/login/canvas', {style: 'color:red'}
      , ingrese usando el siguiente enlace 
      = link_to 'https://canvas.instructure.com/login/canvas', 'https://canvas.instructure.com/login/canvas'
      y verifique su perfil.
    %p
      Si no tiene usuario creado en 
      %b{style: 'color:red'} CANVAS
      , por favor, utilice el siguiente enlace para crearlo sin ningún código previo:
      = link_to 'canvas-free-for-teacher', 'https://www.instructure.com/canvas/login/free-for-teacher'
      y luego haga lo siguiente:

    %ul
      %li 1 Haga Click en Sign Up
      %li 
        2 Luego haga click en Get a free 
        %b{style: 'color:red'} CANVAS
        account
      %li 3 Coloque su nombre
      %li 
        4 En organización coloque 
        %b{style: 'text-decoration-line: underline;'} FUNDEIM
      %li 5 Coloque su correo y número de celular
      %li 
        6 En tipo de organización coloque
        %b{style: 'text-decoration-line: underline;'} Further Education
      %li 
        7 En Job Title coloque 
        %b{style: 'text-decoration-line: underline;'} student
      %li 
        8 en Why Canvas? coloque 
        %b{style: 'text-decoration-line: underline;'} Other
      %li 
        9 Coloque 
        %b{style: 'text-decoration-line: underline;'} Venezuela
        en el país y en el número de estudiantes coloque 
        %b{style: 'text-decoration-line: underline;'} 1000-3000
      %li 
        10 Acepte las condiciones de privacidad y haga click en 
        %b{style: 'text-decoration-line: underline;'} NEXT
        y
        %b{style: 'text-decoration-line: underline;'} listo ...

    %p 
      %b{style: 'color:red'} CANVAS
      le pedirá colocar una contraseña, asegúrese de colocar una contraseña clara y que pueda recordar con facilidad, anótela para que no tenga problemas en futuras consultas.

    %p Estamos muy animados con esta nueva aventura. Esperamos que se encuentren muy, muy bien!!!
    %div{style: 'text-align: center;'}
      %p Saludos cordiales.
      %p El Equipo de FUNDEIM ONLINE
      %br
      %p #SeguimosAvanzando
      %p #SeguimosVenciendoLaSombra

    %p= "Esta cuenta de contacto no es monitoreada, así que cualquier duda o inquietud deben escribir un correo con su nombre, número de cédula y su requerimiento a fundeimucv@gmail.com y con gusto le atenderemos."

    %div{style: 'text-align: center;'}
      %h2{style: "text-align: center;color: #EF6537; font-family: 'arial';font-style: italic;"} ¡Dedicación! ¡Perseverancia! ¡Disciplina! ¡Éxito! ¡Progreso!