.content{style: "text-align: justify"}
  %h4="Estimado(a)  #{@user.name},"

  %h4=  "Se ha completado el proceso de preinscripción en #{@academic_record.course_period.description_inscription}."

  %p= "Le invitamos amablemente a realizar el pago correspondiente al curso y reportarlo en nuestra plataforma #{ApplicationMailer::ACEIM_LINK }. Si ya realizó el reporte espere nuestra confirmación en las próximas 48 horas por esta misma vía.".html_safe

  %h2{style: 'text-align:center'} NORMATIVA:
  
  = render partial: 'layouts/normative'
    
  %p= "¡Mucho éxito en sus clases!".html_safe
