#transferForm{style: 'display:none'}
  .form-group.row.px-3
    = f.label :created_at, class: 'col-sm-5 control-label', value: 'Fecha de Transacción:', style: 'text-align: right'
    .col-sm-5.my-1
      .input-group
        .input-group-prepend
          .input-group-text
            %span.fa.fa-calendar
        = f.date_field :created_at, class: 'form-control ', required: true, value: Date.today

  #banksData
    .form-group.row.px-3
      = f.label :source_bank_id, class: 'col-sm-5 control-label', value: 'Banco Origen:', style: 'text-align: right'
      .col-sm-5.my-1
        .input-group
          .input-group-prepend
            .input-group-text
              %span.fa.fa-bank
          = f.collection_select :source_bank_id, Bank.where('id != 0000'), :id, :name, {prompt: "-- Seleccione Banco Origen --"}, {class: 'form-control', id: 'bank', required: true}
    .form-group.row.px-3
      = f.label :bank_account_id, class: 'col-sm-5 control-label', value: 'Cuenta Destino:', style: 'text-align: right'
      .col-sm-5.my-1
        .input-group
          .input-group-prepend
            .input-group-text
              %span.fa.fa-graduation-cap
          = f.collection_select :bank_account_id, BankAccount.owns.all, :id, :name, {}, {class: 'form-control', readonly: true}
