%br
%h5.p-2.my-5.bg-dark.text-white.text-center
  = link_to student_session_index_path, class: 'btn btn-sm btn-primary float-left' do
    %span.fa.fa-angle-left
    Atrás
  = "Reporte de Pago para: #{@academic_record.course_period.description_inscription}"

= render partial: "/bank_account/show", locals: {ar: @academic_record}
.border.px-5.mx-3.pt-3
  %h4.text-center Reporte de Pago

  = form_for @payment_detail, html: { class: "form-horizontal", role: "form" } do |f|
    -if @payment_detail.errors.any?
      .alert.alert-danger.alert-dismissable{role: "alert"}
        %button.close{type: "button", data: {dismiss: "alert"} }
          %span{aria: {hidden: "true"} } &times;
          %span.sr-only Close
        %h4= "#{pluralize(@payment_detail.errors.count, "error")} impide que este reporte sea guardado:"

        %ul
          - @payment_detail.errors.full_messages.each do |msg|
            %li= msg
    
    = f.hidden_field :academic_record_id
    = f.hidden_field :bank_account_id, value: 'FUNDEIM'
    = f.hidden_field :mount, value: @academic_record.agreement.value

    .form-group.row.px-3
      = f.label :transaction_type, class: 'col-sm-5 control-label', value: 'Forma de Pago:', style: 'text-align: right'
      .col-sm-5.my-1
        .input-group
          .input-group-prepend
            .input-group-text{style: 'padding: 0px 10px 0px 10px;'}
              %span.fa.fa-credit-card
          - if GeneralSetup.enabled_cash_payment.eql? 'SI'
            %label.btn.btn-secondary.btn-sm.tooltip-btn.m-2{'data_toggle': :tooltip, title: 'Divisas'}
              = radio_button_tag '[payment_detail]transaction_type', :divisas, false, required: true, onChange: "displayType('divisa')"
              Divisas

          - if GeneralSetup.enabled_transfer_payment.eql? 'SI'
            %label.btn.btn-secondary.btn-sm.tooltip-btn.m-2{'data_toggle': :tooltip, title: 'Transferencia'}
              = radio_button_tag '[payment_detail]transaction_type', :transferencia, false, required: true, onChange: "displayType('transferencia')"
              Transferencia

    = render partial: '/payment_details/divisas_form', locals: {f: f} if GeneralSetup.enabled_cash_payment.eql? 'SI'
    = render partial: '/payment_details/transfer_form', locals: {f: f} if GeneralSetup.enabled_transfer_payment.eql? 'SI'

    .form-group.row.px-3
      = f.label :customer, class: 'col-sm-5 control-label', value: 'A Nombre De:', style: 'text-align: right'

      .col-sm-5.my-1.alert.alert-warning 
        .input-group
          .input-group-prepend
            .input-group-text
              %span.fa.fa-user
          = f.text_field :customer_name, class: 'form-control', placeholder: 'Nombre Empresa C.A.'
          .input-group-append
            .input-group-text
              .text-muted Opcional
        Escriba aquí el nombre del cliente si desea que la factura sea emitida a nombre de un tercero.


    .form-group.row.px-3
      .col-sm-5
      .col-offset-2.col-5
        = f.submit class: 'btn btn-primary', value: 'Enviar reporte de pago'

  %br
  %br

:javascript
  function displayType(t){
    if (t == 'divisa'){
      document.getElementById('divisasForm').style.display = "block";
      document.getElementById('transferForm').style.display = "none";
    }else{
      document.getElementById('divisasForm').style.display = "none";
      document.getElementById('transferForm').style.display = "block";    
    }
  }

