%br
%br
%br
.navbar.navbar-dark.bg-dark
  %form.form-inline
    = link_to student_session_index_path, class: 'btn btn-sm btn-secondary' do
      %span.fa.fa-angle-left
      Atrás

  .text-center.text-light= "Reporte de Pago para: #{@academic_record.course_period.description_inscription}"

= render partial: "/bank_account/show", locals: {ar: @academic_record}
.border.px-5.mx-3.pt-3
  %h4.text-center= "Curso: #{@academic_record.course_period.description_inscription}"

  = form_for @payment_detail, html: { class: "form-horizontal", role: "form" } do |f|
    -if @payment_detail.errors.any?
      .alert.alert-danger.alert-dismissable{role: "alert"}
        %button.close{type: "button", data: {dismiss: "alert"} }
          %span{aria: {hidden: "true"} } &times;
          %span.sr-only Close
        %h4= "#{pluralize(@payment_detail.errors.count, "error")} impide que este reporte sea guardado:"

        %ul
          - @payment_detail.errors.full_messages.each do |msg|
            %li= msg
    
    = f.hidden_field :academic_record_id
    = f.hidden_field :source_bank_id, value: '0000'
    = f.hidden_field :bank_account_id, value: 'FUNDEIM'
    = f.hidden_field :mount, value: @academic_record.agreement.value

    .form-group.row.px-3
      = f.label :transaction_type, class: 'col-sm-5 control-label', value: 'Forma de Pago:', style: 'text-align: right'
      .col-sm-5.my-1
        .input-group
          .input-group-prepend
            .input-group-text{style: 'padding: 0px 10px 0px 10px;'}
              %span.fa.fa-credit-card
          - if GeneralSetup.enabled_transfer_payment.eql? 'SI'
            %label.btn.btn-secondary.btn-sm.tooltip-btn.m-2{'data_toggle': :tooltip, title: 'Transferencia'}
              = radio_button_tag '[payment_detail]transaction_type', :transferencia, true, required: true, onChange: "displayType('transferencia')"
              Transferencia
          - if GeneralSetup.enabled_cash_payment.eql? 'SI'
            %label.btn.btn-secondary.btn-sm.tooltip-btn.m-2{'data_toggle': :tooltip, title: 'Divisas'}
              = radio_button_tag '[payment_detail]transaction_type', :divisas, false, required: true, onChange: "displayType('divisas')", id: 'checkDivisas'
              Divisas
            - unless GeneralSetup.enabled_transfer_payment.eql? 'SI'
              :javascript
                window.onload = function() {
                  document.getElementById('checkDivisas').click();
                }


    .form-group.row.px-3
      = f.label :value, class: 'col-sm-5 control-label', value: 'Monto:', style: 'text-align: right'

      .col-sm-5.my-1
        .input-group
          .input-group-prepend
            .input-group-text
              %span.fa.fa-money
          = text_field_tag nil, number_to_currency(@academic_record.agreement.value, :unit => "Bs.", :separator => ",", :delimiter => "."), class: 'form-control', readonly: true, disabled: true
          
          .input-group-append
            .input-group-text
              (o equivalente en divisas) 


    .form-group.row.px-3
      = f.label :transaction_number, class: 'col-sm-5 control-label', value: 'Número de Transacción:', style: 'text-align: right', id: :transNumberLabel

      .col-sm-5.my-1
        .input-group
          .input-group-prepend
            .input-group-text
              %span.fa.fa-barcode
          = f.text_field :transaction_number, class: 'form-control text-uppercase', required: true

    #dateTransaction
      .form-group.row.px-3
        = f.label :created_at, class: 'col-sm-5 control-label', value: 'Fecha de Transacción:', style: 'text-align: right'
        .col-sm-5.my-1
          .input-group
            .input-group-prepend
              .input-group-text
                %span.fa.fa-calendar
            = f.date_field :created_at, class: 'form-control ', required: true, value: Date.today

    #banksData
      .form-group.row.px-3
        = f.label :source_bank_id, class: 'col-sm-5 control-label', value: 'Banco Origen:', style: 'text-align: right'
        .col-sm-5.my-1
          .input-group
            .input-group-prepend
              .input-group-text
                %span.fa.fa-bank
            = f.collection_select :source_bank_id, Bank.where("id != 0000 and name != 'NULO'"), :id, :name, {prompt: "-- Seleccione Banco Origen --"}, {class: 'form-control', id: 'bank', required: true}
      .form-group.row.px-3
        = f.label :bank_account_id, class: 'col-sm-5 control-label', value: 'Cuenta Destino:', style: 'text-align: right'
        .col-sm-5.my-1
          .input-group
            .input-group-prepend
              .input-group-text
                %span.fa.fa-graduation-cap
            = f.collection_select :bank_account_id, BankAccount.all, :id, :name, {}, {class: 'form-control', readonly: true}

    .form-group.row.px-3
      = f.label :file_field, class: 'col-sm-5 control-label', value: 'Archivo de respaldo:', style: 'text-align: right', id: 'fileField'
      .col-sm-5.my-1
        .input-group
          .input-group-prepend
            .input-group-text{style: 'padding: 0px 16px 0px 16px;'}
              %span.fa.fa-file-image-o
          =# f.file_field 'url_file', {class: 'btn btn-sm btn-secondary form-control form-control-file', required: true, accept: "image/*,*.pdf"}
          = f.file_field 'backup_file', {class: 'btn btn-sm btn-secondary form-control form-control-file', required: true, accept: "image/jpeg,image/jpg,image/png,application/pdf"}
        .text-muted= "Solo se perimiten archivos de los tipo: jpg, jpeg, png y pdf"

    .form-group.row.px-3
      = f.label :customer, class: 'col-sm-5 control-label', value: 'A Nombre De:', style: 'text-align: right'

      .col-sm-5.my-1.alert.alert-warning 
        .input-group
          .input-group-prepend
            .input-group-text
              %span.fa.fa-user
          = f.text_field :customer_name, class: 'form-control', placeholder: 'Nombre Empresa C.A.'
          .input-group-append
            .input-group-text
              .text-muted Opcional
        Escriba aquí el nombre del cliente si desea que la factura sea emitida a nombre de un tercero.

    .form-group.row.px-3
      .col-sm-5
      .col-offset-2.col-5
        = f.submit class: 'btn btn-primary', value: 'Enviar reporte de pago'

  %br
  %br

:javascript
  function displayType(t){
    var selBank = document.getElementById('bank');
    var banksData = document.getElementById('banksData');
    // var weCollect = document.getElementById('weCollect');
    var dateTransaction = document.getElementById('dateTransaction');
    var transNumberLabel = document.getElementById('transNumberLabel');
    var fileField = document.getElementById('fileField');
    if (t == 'divisas'){
      banksData.style.display = "none";
      selBank.disabled = true;
      dateTransaction.style.display = "none";
      //weCollect.disabled = false;
      transNumberLabel.textContent = 'Código del billete:'
      fileField.textContent = 'Imagen del billete:'
    }else{
      banksData.style.display = "block";
      selBank.disabled = false;
      dateTransaction.style.display = "block";
      //weCollect.disabled = true;
      transNumberLabel.textContent = 'Número de transacción:'
      fileField.textContent = 'Archivo de respaldo:'
    }
  }

