.container-fluid.middle-box.text-center.loginscreen.animated.fadeInDown.mt-1
	%table.table.table-responsive-md.border
		%thead
			%tr
				%th.text-center Id
				%th.text-center Horas Académicas
				%th.text-center TOTAL
				%th.text-center PREINS
				%th.text-center REPORT
				%th.text-center CONFIR
				%th.text-center CANVAS
				%th.text-center APROBA
				%th.text-center REPROB
				%th.text-center PI
				%th.text-center Total Cursos
				%th.text-center Total Secciones
		%tbody
			%tr
				%td= period.name
				%td= period.academic_hours
				%td= period.academic_records.count
				%td= period.total_preenrollment - period.total_reported
				%td= period.total_reported
				%td= period.total_enrollment
				%td= period.total_assigned
				%td= period.total_approved
				%td= period.total_repproved
				%td= period.total_pi
				%td= period.course_periods.count
				%td= period.sections.count
