- total = @period.academic_records.preinscrito.reject{ |ar| ar.payment_detail}.map{ |ar| ar.id }.count
 
- if @period.enrollment?
	- msg = "Para habilitar el botón por favor cierre las inscripciones"
- elsif (total.eql? 0)
	- msg = "Sin reportes por eliminar"
- else
	- msg = "Remover #{total} registros de preinscritos sin reporte de pago"

%nav.navbar.fixed-top.navbar-dark.bg-dark
	%form.form-inline
		= link_to 'Atrás', "/admin/period/#{@period.id}", class: 'btn btn-sm btn-secondary'

		%b.tooltip-btn{'data-toggle': :tooltip, title: 'Enviar Correo a usuarios Sin Reporte'}
			= link_to "javascript:void(0)", class: "btn btn-sm btn-success ml-2"  do
				.fa.fa-mail
				Enviar Correo
	.text-center.text-light= "Preinscritos No Reportados - #{@period.name}"

.container-fluid.middle-box.loginscreen.animated.fadeInDown.mt-4
	%br
	.alert.alert-info.text-center.mt-2= "#{total} inscripciones sin reporte de pago"
	%table.table.table-sm.border.mt-2
		%thead
			%tr
				%th #
				%th Nombre
				%th CI
				%th Correo
				%th Idioma
				%th Nivel
		%tbody
			- @unreported.each_with_index do |ar,i| 
				%tr
					%th= i+1
					%td= ar.student.user.full_name_invert
					%td= ar.student.ci
					%td= ar.user.email
					%td= ar.language.name
					%td= ar.level.name