- course_period = section.course_period
- enrollments = section.academic_records
- enabled_qua = ((controller_name.eql? 'main' and !current_page?(model_name: 'course_period', action: 'show')) and (current_user.administrator? and current_user.administrator.high_authotization?) or (course_period.period.enabled_qualification and section.instructor_id.eql?(current_user.id)))
.table-responsive.border
  %table.table.table-striped.table-condensed.table-hover{align: :center}
    %thead
      %tr
        %th #
        %th{style: "width: 2%"} CI
        %th Apellidos
        %th Nombre
        %th Corrreo
        - if (controller_name.eql? 'main')
          %th 
            Status
        - if enabled_qua
          %th
          - course_period.period.qualification_schemas.each do |qs| 
            %th.text-center
              .tooltip-btn{"data-toggle": :tooltip, title: qs.desc.to_s}= qs.name
        %th.text-center Final
    %tbody
      - enrollments.includes({student: :user}).order('users.last_name').each_with_index do |enrolled, i| 
        - user = enrolled.student.user
        %tr
          %td= i+1
          %td= link_to_if (controller_name.eql? 'main'),  enrolled.student.ci, "/admin/student/#{enrolled.student_id}"
          %td
            .tooltip-btn{"data-toggle": :tooltip, title: user.last_name}
              =# link_to_if (controller_name.eql? 'main'),  user.last_name, "/admin/user/#{enrolled.student_id}"
              = user.last_name
          %td
            .tooltip-btn{"data-toggle": :tooltip, title: user.name}= user.name
          %td
            .tooltip-btn{"data-toggle": :tooltip, title: user.email}=user.email
          - if (controller_name.eql? 'main')
            %td
              .tooltip-btn{"data-toggle": :tooltip, title: enrolled.inscription_status.capitalize}=raw enrolled.label_insc_status('admin')

          - if enabled_qua
            %td
              - if  enrolled.preinscrito?
                .tooltip-btn{"data-toggle": :tooltip, title: 'Eliminar Registro'}
                  = link_to "/admin/academic_record/#{enrolled.id}/delete" do
                    .text-danger.fa.fa-trash
            - course_period.period.qualification_schemas.order(sequence: :asc).each do |qs| 
              %td
                =render partial: '/partial_qualifications/form', locals: {academic_record_id: enrolled.id, qualification_schema_id: qs.id}
          %td
            .form-group
              - clase = (enrolled.final_desc and enrolled.final_desc.to_i > 14) ? 'alert-success' : 'alert-danger'
              = text_field_tag "final#{enrolled.id}", enrolled.final_desc, class: "form-control form-control-sm mr-2 #{clase}", disabled: true, readonly: true, style: 'width:5em;'

:javascript


  function sendForm(id, responseFieldId) {

    var xhr = new XMLHttpRequest();
    var form = document.getElementById(id)
    var formData = new FormData(form);
    xhr.open("POST", form.action);
    xhr.onload = function(event) {
      var resp = JSON.parse(event.target.response)
      // console.log(resp)
      var responseField = document.getElementById(responseFieldId)
      responseField.value = resp.data;
      if (resp.data == 'PI' | parseInt(resp.data) < 15) {
        responseField.className = 'form-control form-control-sm mr-2 alert-danger';
      } else if (parseInt(resp.data) > 14) {
        responseField.className = 'form-control form-control-sm mr-2 alert-success';
      } else { responseField.className = 'form-control form-control-sm mr-2'; }
      toastr.success('Calificación Guardada')

    };
    // or onerror, onabort
    xhr.send(formData);
  }
