- course_period = section.course_period
- enrollments = section.academic_records

- begin
  - id = section.course_period.id_canvas
  - if id
    - canvas = MyCanvas.connect
    - enrollments_canvas = canvas.get("/api/v1/courses/#{id}/enrollments", {per_page: 50, role: "StudentEnrollment"})
    - emails = enrollments_canvas.map{|ele| ele['user']['login_id']}
- rescue Exception => e
  :javascript
    console.log(`No se pudo cargar el recurso en Canvas: #{e}`)
    alert(`No se pudo cargar el recurso en Canvas: #{e.to_s}`)

%table.table.table-striped.table-sm.table-hover{style: 'width: 100%;overflow: scroll;', align: :center}
  %thead
    %tr
      %th CI
      %th Apellidos
      %th Nombre
      %th{style: 'width:auto'} Corrreo
      %th Status
      - if current_user.administrator? and current_user.administrator.high_authotization?
        - if emails and emails.any?
          %th Canvas
        - course_period.period.qualification_schemas.each do |qs| 
          %th.text-center
            .tooltip-btn{"data-toggle": :tooltip, title: qs.desc.to_s}= qs.eva
      %th.text-center Final
  %tbody
    - enrollments.includes({student: :user}).order('users.last_name').each do |enrolled| 
      - user = enrolled.student.user
      %tr
        %td= link_to enrolled.student.ci, "/admin/student/#{enrolled.student_id}"
        %td
          .tooltip-btn{"data-toggle": :tooltip, title: user.last_name}= user.last_name
        %td
          .tooltip-btn{"data-toggle": :tooltip, title: user.name}= user.name
        %td{style: 'width:auto'}
          .tooltip-btn{"data-toggle": :tooltip, title: user.email}=user.email
        - if enrolled.inscription_status
          %td
            .label.label-info= enrolled.inscription_status.capitalize
        - if current_user.administrator? and current_user.administrator.high_authotization?
          - if emails and emails.any?
            %td
              - if emails.include? user.email
                .tooltip-btn{"data-toggle": :tooltip, title: 'Inscrito en el curso de Canvas'}
                  %span.label.label-success
                    .fa.fa-check
              - else
                .tooltip-btn{"data-toggle": :tooltip, title: 'No encontrado en el curso de Canvas'}
                  %span.label.label-danger
                    .fa.fa-times

          - course_period.period.qualification_schemas.order(sequence: :asc).each do |qs| 
            %td
              =render partial: '/partial_qualifications/form', locals: {academic_record_id: enrolled.id, qualification_schema_id: qs.id}
        %td
          .form-group
            - clase = (enrolled.final_desc and enrolled.final_desc.to_i > 14) ? 'alert-success' : 'alert-danger'
            = text_field_tag "final#{enrolled.id}", enrolled.final_desc, class: "form-control form-control-sm mr-2 #{clase}", disabled: true, readonly: true, style: 'width:5em;'


