
%table.table.table-striped.table-sm.table-hover.table-responsive-md.m-3
	%thead
		%tr
			%th #
			%th Periodo
			%th Nivel
			%th Modalidad
			%th Insc. Estado
			%th Insc. Calif.
			%th Valor Calif.

			%th Convenio
			%th Sección
			%th Opciones

	%tbody
		-# career.academic_records.order(created_at: :desc).each_with_index do |ar, i| 
		- records.joins({section: {course_period: [{course: :level}, :period]}}).order(['periods.id': :asc]).each_with_index do |ar, i| 
			-# user = ar.student.user
			%tr
				%td= i+1
				%td= ar.period.name
				%td 
					=ar.level.name
					- if ar.approved?
						- if ar.is_last_level_approved?
							%span.fa.fa-star.text-warning.tooltip-btn{"data-toggle": :tooltip, title: 'Último nivel aprobado'}
				%td
					.label.label-info= ar.course_period.kind.upcase
				%td= raw ar.label_insc_status('admin')
				%td= raw ar.label_fq
				%td= ar.final_desc
				%td= ar.agreement.name
				%td= ar.section.number_to_string
				%td
					- if current_user.administrator? and current_user.administrator.high_authotization?
						= render partial: '/academic_records/options_to_admin', locals: {ar: ar} if controller_name.eql? 'main'
					- if current_user.student and controller_name.eql? 'student_session'
						= render partial: '/academic_records/options_to_student', locals: {ar: ar} if controller_name.eql? 'student_session'





