- if ar.online? and ar.asignado? and ar.period.show_survey
  = link_to GeneralSetup.link_survey, {type: 'button', class: 'tooltip-btn btn btn-sm btn-primary ml-2 mb-2', title: 'Por favor, responda la encuesta sobre los cursos en linea', data: {toggle: 'tooltip', placement: 'bottom'}, target: "_blank"} do
    Encuesta
    %span.fa.fa-external-link
- if !ar.preinscrito? and ar.SC?
  = link_to certificate_academic_record_path(ar.id),{type: 'button', class: 'tooltip-btn btn btn-sm btn-success mb-2 ml-2', title: 'Generar y Descargar Planilla de Inscripción', data: {toggle: 'tooltip'}} do
    Planilla de Inscripción
    %span.fa.fa-certificate
  - if ar.payment_detail
    = link_to ar.payment_detail,{type: 'button', class: 'tooltip-btn btn btn-sm btn-success mb-2 ml-2', title: 'Ver Factura Proforma', data: {toggle: 'tooltip'}} do
      Factura
      %span.fa.fa-money
- if ar.period.enabled_autoregister_canvas_link and ar.confirmado? and ar.course_period.online? and !ar.section.url_classroom_canvas.blank?

  = link_to ar.section.url_classroom_canvas, {type: :button, class: 'tooltip-btn btn btn-sm btn-success mb-2 ml-2', title: 'Haz clíc aquí para automatricularse a tu curso en CANVAS', data: {toggle: :tooltip, placement: :bottom}, target: "_blank"} do
    Automatricularme a mi curso ONLINE
    %span.fa.fa-external-link
- if ar.period.enabled_login_canvas_link and ar.asignado? and ar.course_period.online? and ar.SC?
  - url = GeneralSetup.url_canvas_login
  = link_to url, {type: 'button', class: 'tooltip-btn btn btn-sm btn-success mb-2 ml-2', title: 'Haz clíc aquí para entrar a tu curso en CANVAS', data: {toggle: 'tooltip', placement: 'bottom'}, target: "_blank"} do
    Entrar a mi curso ONLINE
    %span.fa.fa-external-link
- if ar.preinscrito? and ar.SC? and ar.payment_detail.nil?
  = link_to "#{new_payment_detail_path}?academic_record_id=#{ar.id}", class: 'btn btn-sm btn-warning mb-2 ml-2' do
    %span.fa.fa-money
    Reportar Pago
    %span.fa.fa-angle-right
