=# "VALOR DE CONTADOR DE SESSIONES: #{current_user.sign_in_count}"
= form_for @user do |f|

  -if @user.profile_image.nil? or (@user.profile_image and !@user.profile_image.attached?)

    .mb-3
      = label_tag 'user[profile_image]', 'Foto de Perfil:'
      = f.file_field :profile_image, class: 'form-control', accept: "image/jpeg,image/jpg,image/png", required: true

  - if @user and @user.instructor and session[:instructor]
    =# IMPORTANTE: Colocamos session[:student] para contemplar los casos de multiples roles 
    %h5.text-primary Datos Personales y de Contactos
    
    .form-group
      .row
        .col-6
          = label_tag 'instructor[ci]', 'Cédula de Identidad:'
          = text_field_tag 'instructor[ci]', @user.instructor.ci, placeholder: 'Documento de Identidad', class: 'form-control upcase', onInput: "onlyNumber(this);maxSize(this, 9)", required: true
        .col-6
          = label_tag 'instructor[rif]', 'Rif:'
          = text_field_tag 'instructor[rif]', @user.instructor.rif, placeholder: 'Registro de identificación Fiscal Rif', class: 'form-control', required: true
  - if @user and @user.student and session[:student]
    =# IMPORTANTE: Colocamos session[:student] para contemplar los casos de multiples roles 

    .form-group
      .row
        .col-6
          = f.label :number_phone, value: 'Número Documento de Identidad:'

          = text_field_tag 'student[personal_identity_document]', @user.student.personal_identity_document, placeholder: 'Documento de Identidad', class: 'form-control upcase', onInput: "onlyNumber(this);maxSize(this, 9)", required: true, autofocus: true
        .col-6
          = f.label :email, value: 'Correo:'
          = f.email_field :email, placeholder: 'Correo', class: 'form-control', required: true
  - else
    .form-group
      = f.label :email, value: 'Correo:'
      = f.email_field :email, autofocus: true, placeholder: 'Correo', class: 'form-control', required: true

  - if false
    .form-group
      = f.label :password, value: 'Contraseña:'
      = f.password_field :password, placeholder: 'Contraseña', class: 'form-control', required: true
    .form-group
      = f.label :confirmation_password, value: 'Confirmación de Contraseña:'
      = f.password_field :password, placeholder: 'Confirmación de Contraseña', class: 'form-control', required: true

  .form-group
    .row
      .col-6
        = f.label :number_phone, value: 'Nombres:'
        = f.text_field :name, placeholder: 'Nombres', class: 'form-control', onInput: "disnableSpecialChar(this);", required: true
      .col-6
        = f.label :number_phone, value: 'Apellidos:'
        = f.text_field :last_name, placeholder: 'Apellidos', class: 'form-control', onInput: "disnableSpecialChar(this);", required: true
  .form-group
    .row
      .col-6
        = f.label :number_phone, value: 'Número Telefónico:'
      - if @user and @user.student and session[:student]
        .col-6
          = label_tag 'Ubicación:'
    .row
      - @operators_code = ['0412', '0414', '0424', '0416','0426']
      - if (@user and @user.number_phone)
        -# @operator_code, @user.number_phone = @user.split_phone
        - if @user.number_phone.length >= 10
          - @operator_code = @user.number_phone[0..3]
          - @user.number_phone = @user.number_phone[4..10]
      .col-2 
        =# select_tag :oparator_code, options_for_select(@operators_code, @operator_code), class: 'form-control', required: true, include_blank: 'Operadora'
        = text_field_tag :operator_code, @operator_code, class: 'form-control', required: true, placeholder: '04XX', onInput: "onlyNumber(this);maxSize(this, 4)"
      .col-4
        = f.text_field :number_phone, placeholder: 'XXXXXXX', class: 'form-control upcase', onInput: "onlyNumber(this);maxSize(this, 7)", required: true
      - if @user and @user.student and session[:student]
        .col-6
          = text_field_tag 'student[location]', @user.student.location, placeholder: 'Dirección Corta', class: 'form-control upcase', required: true
  = f.hidden_field :sign_in_count
  - if @user
    = render partial: '/users/form_datos_canvas', locals: {f: f} if (@user and @user.student and session[:student])
    = render partial: '/bank_account/form', locals: {bank_account: @user.instructor.bank_account} if (@user and @user.instructor and session[:instructor])

  - if false
    .form-group
      =# label_tag 'Origen:'
      = hidden_field_tag 'student[source_country]', 'Venezuela', placeholder: 'País de Origen', disabled: true, class: 'form-control'

  %button.btn.btn-primary.btn-lg.btn-block{type: :submit, data: {'disable-with': 'Cargando imagen, por favor espere ...' }} Guardar
:javascript
  
  function canvasEmail(value){
    document.getElementById('user_canvas_email').disabled = value
  }
  
  function disnableSpecialChar(elem) {
    return elem.value = elem.value.replace(/[^A-Z|a-z| |Ñ]/g, '');
  }

  function onlyNumber(elem){
    return elem.value = elem.value.replace(/[^0-9]/g,'');
  }
  function maxSize(elem, size){
    return elem.value = elem.value.substring(0, size)
  }