
.container-fluid.middle-box.text-center.loginscreen.animated.fadeInDown.mt-1
	%table.table.table-responsive-md.border
		%thead
			%tr
				%th Periodo
				%th Idioma
				%th Nivel
				%th Tipo
				%th Numero
				%th Total
				%th Instructor
				- if current_user.admin?
					%th.text-center ¿Abierta?
					%th Id Canvas
		%tbody
			%tr
				%td= section.period.name
				%td= section.language.name
				%td= section.level.name
				%td= section.course_period_kind
				%td= section.number_to_string
				%td= section.asigned
				%td
					- if section.instructor
						= link_to_if (current_user.admin? and (can? :manage, Instructor) and section.instructor), section.instructor.user.name, "/admin/instructor/#{section.instructor.id}"
					- else
						No Asignado

				- if current_user.admin?
					%td.text-center
						= raw (section.open ? "<i class='fa fa-check text-success'></i>" : "<i class='fa fa-remove text-danger' ></i>")
					%td
						- if (section.id_canvas and section.course_period.id_canvas)
							= link_to section.id_canvas, section.full_url_canvas_section, target: '_blank'
						- else
							No asignado

