.container-fluid.middle-box.text-center.loginscreen.animated.fadeInDown.mt-1
	%table.table.table-responsive-md.border
		%thead
			%tr
				%th Periodo
				%th Idioma
				%th Nivel
				%th Tipo
				%th Numero
				%th Total
				%th Instructor
				- if current_user.admin?
					%th.text-center ¿Abierta?
					%th Id Canvas
		%tbody
			%tr
				%th= section.period.name
				%th= section.language.name
				%th= section.level.name
				%th= section.course_period_kind
				%th= section.number_to_string
				%th= section.asigned
				%th= link_to_if (current_user.admin? and (can? :manage, Instructor)), section.instructor.user.name, "/admin/instructor/#{section.instructor.id}"
				- if current_user.admin?
					%th.text-center
						= raw (section.open ? "<i class='fa fa-check text-success'></i>" : "<i class='fa fa-remove text-danger' ></i>")
					%th= link_to section.id_canvas, "https://canvas.instructure.com/courses/#{section.course_period.id_canvas}/sections/#{section.id_canvas}", target: '_blank'

