
- any_student = section.academic_records.any?

= render partial: 'sections/resume', locals: {objeto: section}
- if section.instructor
	%b.label.label-primary.tooltip-btn{style: 'margin-left:10px', data:{toggle: :tooltip, title: 'Instructor'}}
		= link_to section.instructor.user.description , "/admin/instructor/#{section.instructor.id}", style: 'text-decoration:none;color: #fff'
= render partial: 'sections/options', locals: {section: section, any_student: any_student}

- if any_student
	= render partial: 'sections/modal_emails_list', locals: {section: section}

	= render partial: "qualification_schemas/comparative_table", locals: {period: section.period, objeto: section}
	= render partial: '/academic_records/index', locals: {section: section}
