
- autorize = (current_user and current_user.admin? and current_user.administrator.super_role?)
- if autorize
	= link_to "/student_session?id=#{field.bindings[:object].id}&simulated=true", class: 'btn btn-sm btn-success pull-right' do
		%span.fa.fa-eye
		Vista Estudiante

%nav
	%ul.nav.nav-tabs
		- field.bindings[:object].careers.each_with_index do |career, i| 
			- active = (i.eql? 0) ? ' active' : ''
			%li{class: active}= link_to career.language.name, "#tab-#{career.language_id}", "data-toggle": "tab", class: "nav-item nav-link"

.tab-content
	- field.bindings[:object].careers.each_with_index do |career, i| 
		- active = (i.eql? 0) ? ' active' : ''
		.tab-pane{id: "tab-#{career.language_id}", class: active}
			.border.mt-3.p-3
				= link_to "/careers/#{career.id}/constance", class: 'btn btn-sm btn-info' do
					Constancia Notas Aprobadas
				=# label_leveling career.leveling_period.name if career.leveling_period
				=# El Helper de arriba no funciona para RailsAdmin
				- if career.leveling_period
					.m.3.label.label-success{style: 'margin-left: 20px'}
						%span.fa.fa-check
						Nivelación
						= career.leveling_period.name


				= render partial: '/academic_records/index_to_student', locals: {records: career.academic_records}