%h3 Bienvenido al Administrador de los Cursos de FUNDEIM - EIM - UCV
%p
  %strong{:style => "font-size: 20px;line-height: 135%;color: #555555;font-weight: bold;"}
     * BIENVENIDOS * WELCOME * BEM-VINDO * BIENVENU *  WILLKOMMEN * BENVENUTO *
%p Ingresa para verlo en acción
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.email_field :email, autofocus: true, autocomplete: "email", required: true, placeholder: "Correo Electrónico", class: 'form-control input-login'
  .form-group
    = f.password_field :password, autocomplete: "current-password", required: true, placeholder: "Contraseña", class: 'form-control input-login'
  %div
    %input{:name => "user[remember_me]", :type => "hidden", :value => "0"}/
    %input#user_remember_me{:name => "user[remember_me]", :type => "checkbox", :value => "1"}/
    %label{:for => "user_remember_me"} Recuérdame
  %button.btn.btn-primary.block.full-width.m-b{:type => "submit"} Entra
  ó 
  = render "devise/shared/links"
  - if false # devise_mapping.registerable? && controller_name != 'registrations'
    %p.text-muted.text-center
      %small ¿No tienes una cuenta de usuario?
    = link_to "Crea una cuenta", new_registration_path(resource_name), class: "btn btn-sm btn-light"
    %br/
