
- historiales = HistorialAcademico.where(usuario_ci: student.ci)
- if historiales and historiales.any?
	- if student.imported
		- type_alert = 'alert-success'
		- msg = '¡Registros de inscripciones ya importado desde aceim.ucv.ve!'
	- else
		- type_alert = 'alert-warning'
		- msg = '¡Estudiante con registros de inscripciones en aceim.ucv.ve (pendiente por migrar)!'
	.alert{class: type_alert}
		= msg
		= link_to "/enrollment/#{student.id}/import_aceim_old", class: 'btn btn-sm btn-success pull-right', 'data-confirm': "¿Está completamente seguro de realizar la acción? Para efectos de cargar contenido útil al sistema sólo se migrarán registros calificados en aceim.ucv.ve (status No SC)." do
			.fa.fa-database
			.fa.fa-angle-double-down
			Importar Todo el Historial
	%table.table.table-striped.table-sm.table-hover.table-responsive-md.mt-3
		%thead
			%tr
				%th #
				%th Idioma
				%th Periodo
				%th Nivel
				%th Status (Cal-Insc)
				%th Sección
				%th Nota
		%tbody
			- historiales.each_with_index do |ar, i| 
				%tr
					%td= i+1
					%td= ar.idioma_id
					%td= ar.periodo_id
					%td= ar.tipo_nivel_id
					%td= "#{ar.tipo_estado_calificacion_id}-#{ar.tipo_estado_inscripcion_id}"
					%td= ar.seccion_numero
					%td= ar.nota_final
