- unless course_period.id_canvas.blank?
	- begin
		- course_id = course_period.id_canvas
		- require 'canvas-api'
		- canvas = MyCanvas.connect
		- enrollments = canvas.get("/api/v1/courses/#{course_id}/enrollments", {per_page: 50, role: "StudentEnrollment"})
		- course = canvas.get("/api/v1/courses/#{course_id}")
		- sections = canvas.get("/api/v1/courses/#{course_id}/sections")
	- rescue Exception => e
		:javascript
			console.log(`No se pudo cargar el recurso en Canvas: #{e}`)
			alert(`No se pudo cargar el recurso en Canvas: #{e.to_s}`)

	- if enrollments
		- i = 1
		- aux = course['name'] if course
		- aux += " (#{sections.length})" if (aux and sections)
		%h3= aux
		%h4= sections.map{|sec| sec['name']}.to_sentence if sections
		%table.table.table-striped.table-sm.table-hover.table-responsive-md.mt-3
			%thead
				%tr
					%th #
					%th Id_Canvas
					%th Nombres
					%th Email
					%th Status Aceim
			- begin
				%tbody
					- enrollments.each do |enroll| 
						%tr
							%td= i
							%td= enroll['user_id']
							%td= enroll['user']['name'].to_s.split.map{|w| w.capitalize}.join(" ")
							- email = enroll['user']['login_id']
							%td= email
							- user = User.where(email: email).first
							%td 
								- if user and es = user.student
									- enrolled = es.academic_records.joins({section: :course_period}).where("course_periods.id = #{course_period.id}").first
									- if enrolled
										.label.label-info= enrolled.inscription_status.capitalize
									- else
										.label.label-warning No inscrito en el curso
								- else
									.label.label-danger Usuario no encontrado

						- i+=1
			- end while enrollments.more? and enrollments = enrollments.next_page!