= render 'layouts/toastr_alert'

= content_tag :b, class: 'tooltip-btn', 'data_toggle': :tooltip, title: titulo do
  .onoffswitch
    - onChange = "switches('#{url}');"
    = check_box nil, :activa, checked: to_checked, class: 'onoffswitch-checkbox', id: "idSwitch#{id_html}#{virtual_object.id}", onChange: onChange
    %label.onoffswitch-label{for: "idSwitch#{id_html}#{virtual_object.id}"}
      %span.onoffswitch-inner
      %span.onoffswitch-switch