
.label.label-success.ml-5.p-3
	Total Inscritos: 
	= section.academic_records.count

- if current_user.administrator? and current_user.administrator.high_authotization?
	= render partial: "sections/split", locals: {section: section}

= link_to "/admin/course_period/#{section.course_period.id}", class: 'btn btn-info pull-right', style: 'margin-right:20px' do
	.fa.fa-search
	Ir a la programación

- unless section.id_canvas and section.course_period.id_canvas
	= link_to "/sections/#{section.id}/create_on_canvas", class: 'btn btn-info tooltip-btn pull-right', 'data-toggle': :tooltip, title: "Crear ésta sección en Canvas", style: 'margin-right: 10px;' do
		.fa.fa-paper-plane

- if section.id_canvas and section.course_period.id_canvas
	= link_to "/sections/#{section.id}/enrollments_to_canvas", class: 'btn btn-info tooltip-btn pull-right', 'data-toggle': :tooltip, title: "Asignar Estudiantes a Canvas", style: 'margin-right: 10px;' do
		.fa.fa-graduation-cap


- # No incluimos si la section está open ya qué es para otros fines

= render partial: '/academic_records/index', locals: {section: section}