
- autorize = (current_user and current_user.admin? and current_user.administrator.super_role?)
- if autorize
	= link_to "/student_session?id=#{field.bindings[:object].id}", class: 'btn btn-sm btn-success pull-right' do
		%span.fa.fa-eye
		Vista Estudiante

%table.table.table-striped.table-sm.table-hover.table-responsive-md.mt-3
	%thead
		%tr
			%th Id
			%th Periodo
			%th Idioma
			%th Nivel
			%th Tipo
			%th Sección
	%tbody
		- field.bindings[:object].academic_records.includes({student: :user}).order('users.last_name').each do |ar| 
			- user = ar.student.user
			%tr
				%td= link_to_if autorize, ar.id, "/admin/academic_record/#{ar.id}"
				%td= ar.period.name
				%td= ar.language.name
				%td= ar.level.name
				%td= ar.course_period.kind
				%td= link_to_if autorize, ar.section.number, "/admin/section/#{ar.section.id}"