- #OJO: REEMPLAZAR POR PERIOD DE INSCRIPCION
- period = Period.where(enrollment: true).last
- student = @user.student

- if flash[:success_enrolled]
  .alert.alert-success
    %h3 ¡Haz completado el primer paso satisfactoriamente!
    %p 
      Te invitamos amablemente a estar pendiente de las publicaciones que haremos en nuestra cuenta en twitter 
      = link_to '@fundeim', 'https://twitter.com/Fundeim' 
      sobre el siguiente paso: 
      %b la automatriculación en su curso ONLINE en la plataforma CANVAS.
- ar = student.academic_records.preinscrito.reject{|ar| !ar.payment_detail.nil?}.first
.text-center.align-middle
  %img{alt: "image", src: "#{image_path('resumen_actividades01_low.png')}", style: 'width:80%', class: 'pt-4 pb-3'}
  =# image_tag 'resumen_actividades01.png'
- if ar

  = render partial: "/bank_account/show", locals: {ar: ar}
  
- if false #unless GeneralSetup.video_tuto_canvas_value.blank?
  .text-center.align-middle
    = link_to GeneralSetup.video_tuto_canvas_value, {type: :button, class: 'tooltip-btn btn btn-sm btn-outline-success', title: 'Video ilustrativo de ayuda para Canvas', data: {toggle: :tooltip}, target: '_blank'} do
      Video Tutorial para Canvas
      %span.fa.fa-play-circle

- if Content.published.any?
  .text-center.align-middle.mb-3
    = link_to multimedia_student_session_index_path, {type: :button, class: 'tooltip-btn btn btn-lg btn-primary', title: 'Videos ilustrativos de ayuda para Canvas', data: {toggle: :tooltip}} do
      Tutoriales de Canvas
      %span.fa.fa-play-circle

-if student
  - if GeneralSetup.permitir_registros_nuevos or (period and period.allow_enrollments?)
    = render partial: '/layouts/modal_alert', locals: {content: @normative, title: '¡IMPORTANTE!', id: 'confirmDialog', url: nil}
  = render partial: "/student_session/enrollment_language_availables", locals: {student: student, period: period}
  
  .container-fluid.middle-box.text-center.animated.fadeInDown
    = render partial: '/careers/index_to_student', locals: {careers: student.careers}
