- #OJO: REEMPLAZAR POR PERIOD DE INSCRIPCION
- period = Period.where(enrollment: true).last
%h5.p-2.my-5.bg-dark.text-white.text-center= "Dashboard - #{@user.description}"
- student = @user.student

- if flash[:success_enrolled]
  .alert.alert-success
    %h3 ¡Haz completado el primer paso satisfactoriamente!
    %p 
      Te invitamos amablemente a estar pendiente de las publicaciones que haremos en nuestra cuenta en twitter 
      = link_to '@fundeim', 'https://twitter.com/Fundeim' 
      sobre el siguiente paso: 
      %b la automatriculación en su curso ONLINE en la plataforma CANVAS.
- ar = student.academic_records.preinscrito.reject{|ar| !ar.payment_detail.nil?}.first
- if ar
  = render partial: "/bank_account/show", locals: {ar: ar}
  
- unless GeneralSetup.video_tuto_canvas_value.blank?
  .text-center.align-middle
    = link_to GeneralSetup.video_tuto_canvas_value, {type: :button, class: 'tooltip-btn btn btn-sm btn-outline-success', title: 'Video ilustrativo de ayuda para Canvas', data: {toggle: :tooltip}, target: '_blank'} do
      Video Tutorial para Canvas
      %span.fa.fa-play-circle

-if student
  - if GeneralSetup.permitir_registros_nuevos or (period and period.allow_enrollments?)
    = render partial: '/layouts/modal_alert', locals: {content: @normative, title: '¡IMPORTANTE!', id: 'confirmDialog', url: nil}
  = render partial: "/student_session/enrollment_language_availables", locals: {student: student, period: period}
  = render partial: '/careers/index_to_student', locals: {careers: student.careers}
