- #OJO: REEMPLAZAR POR PERIOD DE INSCRIPCION
- period = Period.where(enrollment: true).last
%h5.p-2.my-5.bg-dark.text-white.text-center= "Dashboard - #{@user.description}"
- student = @user.student

- if flash[:success_enrolled]
  .alert.alert-success
    %h3 ¡Haz completado el primer paso satisfactoriamente!
    %p 
      Te invitamos amablemente a estar pendiente de las publicaciones que haremos en nuestra cuenta en twitter 
      = link_to '@fundeim', 'https://twitter.com/Fundeim' 
      sobre el siguiente paso: 
      %b la automatriculación en su curso ONLINE en la plataforma CANVAS.
- ar = student.academic_records.preinscrito.reject{|ar| !ar.payment_detail.nil?}.first
- if ar
  = render partial: "/bank_account/show", locals: {ar: ar}

-if student
  - if GeneralSetup.permitir_registros_nuevos and period and period.allow_enrollments?
    .text-center
      - student.language_avaliables.each do |lan| 
        - cp = lan.first_course.course_periods.online.from_period(period.id).first
        - if cp.sections.any?
          - total_enrolls = cp.academic_records.preinscrito.count
          - availables = cp.capacity - total_enrolls
          - disabled = (availables <= 0)
          - class_disadled = disabled ? 'disabled' : ''
          - msg = disabled ? 'Sin cupos' : "#{availables} #{"cupo".pluralize(availables)}"
          - section = cp.sections.first
          = link_to "#{regular_enrollment_path(section.id)}?student_id=#{student.id}", class: "#{class_disadled} btn btn-success m-2 tooltip-btn", 'data-confirm': "¿Confirma que deseas completar la preinscripcion de '#{@user.description}' en el curso: '#{cp.description_inscription}'?", 'data-toggle': :tooltip, title: "Inscribirse en #{cp.description_inscription}", 'aria-disabled': disabled do
            = "¡Nuevo curso de #{lan.name.capitalize}!"
            = "(#{msg})"

  - student.careers.each do |career| 
    .border.p-3.m-3
      %h4
        = career.language.name 
        - approved = career.last_level_approved
        = "(#{approved.level.name} Aprobado)" if approved

        - if period and period.allow_enrollments? 
          - next_course = career.next_course_available
          - if next_course
            - cp = period.course_periods.online.joins(:course).where('courses.language_id = ? AND courses.level_id = ?', next_course.language_id, next_course.level_id).first
            - if cp  and !student.enrolled_course_period?(cp.id)
              - total_enrolls = cp.academic_records.preinscrito.count
              - if total_enrolls <= cp.capacity
                - section = cp.sections.first
                - if section
                  %td
                    %b= " Nivel Online Disponible: "

                    = link_to "¡Inscríbite ahora! (#{period.name})", "#{regular_enrollment_path(section.id)}?student_id=#{student.id}", class: 'btn btn-success tooltip-btn', 'data-confirm': "¿Confirma que deseas completar la preinscripcion de '#{@user.description}' en el curso: '#{cp.description_inscription}'?", 'data_toggle': :tooltip, title: "Inscribirse en #{cp.description_inscription}"

      %table.table.table-sm.table-striped.table-hover.table-responsable
        %thead
          %tr.row
            %th.col-3 Nivel
            %th.col-1 Período
            %th.col-1 Calificación
            %th.col-2 Estado
            %th.col-2 Inscripción
            %th.col-3 Opciones
        %tbody
          - records = career.academic_records 
          - records.each do |ar|
            %tr.row
              %td.col-3= "#{ar.section.course.level.name} (#{ar.section.course_period.kind})"
              %td.col-1= ar.period_desc
              %td.col-1= ar.final_desc

              %td.col-2= raw ar.label_fq
              %td.col-2
                %span.badge.badge-info= ar.inscription_status.capitalize
              %td.col-3
                - if ar.confirmado? and ar.SC?
                  = link_to certificate_academic_record_path(ar.id),{type: 'button', class: 'tooltip-btn btn btn-sm btn-success', title: 'Ver detalle Planilla de Inscripción', data: {toggle: 'tooltip'}} do
                    Planilla de Inscripción
                    %span.fa.fa-certificate
                - if ar.online? and ar.confirmado? and ar.period.name.eql? '2020-A'
                  = link_to 'https://forms.gle/htyFNhGHoT4qbcBn9', {type: 'button', class: 'tooltip-btn btn btn-sm btn-success ml-2', title: 'Por favor, responda la encuesta sobre los cursos en linea', data: {toggle: 'tooltip', placement: 'bottom'}, target: "_blank"} do
                    Encuenta
                    %span.fa.fa-external-link
                - if ar.period.enabled_autoregister_canvas_link and ar.confirmado? and ar.course_period.online? and !ar.section.url_classroom_canvas.blank?
                  = link_to ar.section.url_classroom_canvas, {type: 'button', class: 'tooltip-btn btn btn-sm btn-success btn-circle mb-3', title: 'Haz clíc aquí para automatricularte a tu curso en CANVAS', data: {toggle: 'tooltip', placement: 'bottom'}, target: "_blank"} do
                    Automatricúlarme a mi curso ONLINE
                    %span.fa.fa-external-link
                - if ar.period.enabled_login_canvas_link and ar.confirmado? and ar.course_period.online? and ar.SC?
                  - url = GeneralSetup.url_canvas_login
                  = link_to url, {type: 'button', class: 'tooltip-btn btn btn-sm btn-success btn-circle', title: 'Haz clíc aquí para entrar a tu curso en CANVAS', data: {toggle: 'tooltip', placement: 'bottom'}, target: "_blank"} do
                    Entrar a mi curso ONLINE
                    %span.fa.fa-external-link
                - if ar.preinscrito? and ar.SC? and ar.payment_detail.nil?
                  = link_to "#{new_payment_detail_path}?academic_record_id=#{ar.id}", class: 'btn btn-sm btn-warning' do
                    %span.fa.fa-money
                    Reportar Pago
                    %span.fa.fa-angle-right
          - if false
            - records.currents.each do |current| 
              - course_id_aux = current.course.id
              - period_aux = current.period
              - if period_aux.enrollment?
                -# period_aux = Period.where(year: '2020', letter: 'A').first

                - online_course_period = CoursePeriod.online.where(period_id: period_aux.id, course_id: course_id_aux).first
                - if online_course_period and !student.enrolled_course_period?(online_course_period.id)
                  - section = online_course_period.sections.first
                  - if section
                    %tr
                      %td
                        %b Nivel Online Disponible:
                        = online_course_period.course.level.name
                        -# if available_course_period_insc = CoursePeriod.online.where(course_id: next_course.id).first
                        -# CoursePeriod.online.where(course_id: next_course.id).each do |available_course_period_insc| 

                        = link_to "¡Inscríbite ahora! (#{period_aux.name})", "#{regular_enrollment_path(section.id)}?student_id=#{student.id}", class: 'btn btn-sm btn-primary', 'data-confirm': "¿Confirma que deseas completar la preinscripcion de '#{@user.description}' en el curso: '#{online_course_period.description_inscription}'?"
-# else
-# period = Period.where(year: 2020).last 
-# period.course_periods.each do |cp| 
-# period.course_periods.online.each do |cp| 
- #period.course_periods.joins(:course).where("courses.level_id = ?", 'BI').online.each do |cp| 
=# link_to "¡Inscríbite #{cp.language.name.capitalize} (#{cp.kind.capitalize})", regular_enrollment_path(cp.id), class: 'btn btn-sm btn-primary', 'data-confirm': "¿Confirma que deseas completar la preinscripcion de '#{@user.description}' en el curso: '#{cp.description_inscription}'?"

-# available_courses = period.course
-# cursosp.