.text-center
  - student.language_avaliables.each do |lan| 
    - cp = lan.first_course.course_periods.online.from_period(period.id).first
    - if cp and cp.sections.any?
      - total_enrolls = cp.academic_records.count
      - availables = cp.capacity - total_enrolls
      - disabled = (availables <= 0)
      - class_disadled = disabled ? 'disabled' : ''
      - msg = disabled ? 'Sin cupos' : "#{availables} #{"cupo".pluralize(availables)}"
      - section = cp.sections.first
      = link_to 'javascript:void(0)', class: "#{class_disadled} btn btn-success m-2 tooltip-btn confirmBtn", 'data-toggle': :tooltip, title: "Inscribirse en #{cp.description_inscription}", 'aria-disabled': disabled, url: "#{regular_enrollment_path(section.id)}?student_id=#{student.id}", desc_user: @user.description, desc_inscrip: cp.description_inscription  do
        = "¡Nuevo curso de #{lan.name.capitalize}!"
        = "(#{msg})"

