- period = Period.where(enrollment: true).last
- student = career.student
%h4
  = period.preview.name
  - if period and period.allow_enrollments? and !period.preview.enabled_qualification?
    - next_course = career.next_course_available
    - if next_course
      - cp = period.course_periods.online.joins(:course).where('courses.language_id = ? AND courses.level_id = ?', next_course.language_id, next_course.level_id).first
      - if cp  and !student.enrolled_course_period?(cp.id)
        - total_enrolls = cp.academic_records.preinscrito.count
        - if total_enrolls <= cp.capacity
          - section = cp.sections.first
          - if section
            %td
              %b= " Nivel Online Disponible: "
              - textConfirm = "¿Confirma que deseas completar la preinscripcion de '#{@user.description}' en el curso: '#{cp.description_inscription}' y de que acepta la siguiente normativa?"

              = link_to 'javascript:void(0)', class: "btn btn-success m-2 tooltip-btn confirmBtn", 'data-toggle': :tooltip, title: "Inscribirse en #{cp.description_inscription}", url: "#{regular_enrollment_path(section.id)}?student_id=#{student.id}", desc_user: @user.description, desc_inscrip: cp.description_inscription do
                = "¡Inscríbite ahora! (#{period.name})"
