- if current_user.any_blank? or current_user.sign_in_count.eql? 0
  - @user = current_user
  - content = render partial: '/users/form'
  - title = "Datos Personales"
  - msg = "<strong>Atención</strong>: Por favor, actualiza tus datos personales"
  - id = "updatePersonalData"
  = render partial: '/layouts/modal', locals: {content: content, id: id, msg: msg, title: title, content: content }

%br
%h3.p-2.my-5.bg-dark.text-white.text-center Dashboard

-if current_user.student.careers.any?
  - current_user.student.careers.each do |career| 
    .border.p-3.m-3
      %h3= career.language.name
      %table.table.table-sm.table-striped.table-hover.table-responsable
        %thead
          %tr.row
            %th.col-3 Nivel
            %th.col-3 Período
            %th.col-3 Calificación
            %th.col-3 Estado
        %tbody
          - career.academic_records.each do |ra|
            %tr.row
              %td.col-3= ra.section.course.level.name
              %td.col-3= ra.period_desc
              %td.col-3= ra.final_desc
              %td.col-3= ra.qualification_status.name
        - if next_course = career.next_course
          %tfoot
            %tr
              %td
                %b Próximo nivel:
                = next_course.level.name
                -# if available_course_period_insc = CoursePeriod.online.where(course_id: next_course.id).first
                - CoursePeriod.online.where(course_id: next_course.id).each do |available_course_period_insc| 

                  = link_to "¡Inscríbite ahora! (#{available_course_period_insc.kind.capitalize})", regular_enrollment_path(available_course_period_insc.id), class: 'btn btn-sm btn-primary', 'data-confirm': "¿Confirma que deseas completar la preinscripcion de '#{current_user.description}' en el curso: '#{available_course_period_insc.description_inscription}'?"
- else
  - period = Period.where(year: 2020).last 
  -# period.course_periods.each do |cp| 
  -# period.course_periods.online.each do |cp| 
  - period.course_periods.joins(:course).where("courses.level_id = ?", 'BI').online.each do |cp| 
    = link_to "¡Inscríbite #{cp.language.name.capitalize} (#{cp.kind.capitalize})", regular_enrollment_path(cp.id), class: 'btn btn-sm btn-primary', 'data-confirm': "¿Confirma que deseas completar la preinscripcion de '#{current_user.description}' en el curso: '#{cp.description_inscription}'?"

  -# available_courses = period.course
  -# cursosp.