- if @user.id.eql? current_user.id and (@user.any_blank? or @user.sign_in_count.eql? 0)

  - @user = @user
  - content = render partial: '/users/form'
  - title = "Datos Personales"
  - msg = "<strong>Atención</strong>: Por favor, actualiza tus datos personales"
  - msg2 = "<strong>Los datos suministrados en el siguiente formulario serán usados para tu cuenta de Canvas</strong>"
  - id = "updatePersonalData"
  = render partial: '/layouts/modal', locals: {content: content, id: id, msg: msg, title: title, content: content, msg2: msg2 }


- if (!@user.id.eql? current_user.id) and @user.student?
  .border.border-danger
    .p-3.bg-danger.text-white.text-center
      Vista Estudante
      = link_to "/admin/student/#{@user.id}", class: 'tooltip-btn btn btn-sm btn-primary float-right', title: 'Salir de Vista Estudiante', placement: 'left' do
        %span.fa.fa-times
        Salir
    .p-2
      = render 'academic_records'
- else
  %br
  = render 'academic_records'
