- if @user.student.payment_details and @user.student.payment_details.unread_report.any?

  - @payment_detail = @user.student.payment_details.unread_report.first
  - content = render partial: '/payment_details/message_payment_report' 
  = render partial: '/layouts/modal_alert', locals: {content: content, title: '¡Atención!', id: "AlertPaymentUnread", url: read_report_payment_detail_path(@payment_detail.id)}

- if @user.id.eql? current_user.id and (@user.any_blank? or @user.sign_in_count.eql? 0)

  - @user = @user
  - content = render partial: '/users/form'
  - title = "Datos Personales y de Contacto"
  - msg = "<strong>Atención</strong>: Por favor, actualice sus datos personales"
  - msg2 = "<strong>Los datos suministrados en el siguiente formulario serán usados para tu cuenta de Canvas</strong>"
  - id = "updatePersonalData"
  = render partial: '/layouts/modal', locals: {content: content, id: id, msg: msg, title: title, msg2: msg2 }

- if false #elsif @user.id_canvas.blank? and @user.canvas_email.blank?
  - content = render '/users/canvas_email_form'
  - msg = "<strong>Atención</strong>: Para mejorar la integración de su cuenta con Canvas, por favor indíquenos el correo que usa para dicha plataforma."
  = render partial: '/layouts/modal', locals: {content: content, id: 'email_canvas', msg: msg, title: nil, msg2: nil }

- if (!@user.id.eql? current_user.id) and @user.student? # session[:admin] 
  .border.border-danger
    .p-3.bg-danger.text-white.text-center
      Vista Estudante
      = link_to "/admin/student/#{@user.id}", class: 'tooltip-btn btn btn-sm btn-primary float-right', title: 'Salir de Vista Estudiante', placement: 'left' do
        %span.fa.fa-times
        Salir
    .p-2
      = render 'academic_details'
- else
  %br
  = render 'academic_details'
