- bank_account = BankAccount.owns.first

%p
  Estimado(a) 
  = @user.full_name
  , usted ha reportado un pago a través de nuestro sitio web, con el siguiente detalle:

  %table{align: :center}
    %tbody
      %tr
        %th{style: 'text-align:right'} Forma de pago: 
        %td= @payment_detail.transaction_type.upcase

      - if @payment_detail.divisas?
        %tr
          %th Código del billete.: 
          %td= @payment_detail.transaction_number
      - else
        %tr
          %th Número de Transf.: 
          %td= @payment_detail.transaction_number

        %tr
          %th Banco Origen: 
          %td= @payment_detail.source_bank.name.upcase

        %tr
          %th Banco Destino: 
          %td= bank_account.bank.name.upcase

        %tr
          %th Cuenta Destino: 
          %td= bank_account.number 

      %tr
        %th{style: 'text-align:right'} Concepto: 
        %td= @payment_detail.course_description

      %tr
        %th{style: 'text-align:right'} Monto: 
        %td= number_to_currency(@payment_detail.mount, unit: 'Bs.', separator: ",", delimiter: ".")

      %tr
        %th{style: 'text-align:right'} Fecha: 
        %td= @payment_detail.created_at.strftime('%d/%m/%Y')
  %p
    - if @payment_detail.divisas? and GeneralSetup.payment_dollar_value
      = GeneralSetup.payment_dollar_value
    - else
      = "En las próximas 48 horas hábiles estaremos procesando su pago y notificándole por ésta vía, previa confirmación de la transacción."

