- bank_account = BankAccount.first

%p
  Estimado(a) 
  = @user.full_name
  , usted ha reportado un pago a través de nuestro sitio web, con el siguiente detalle:

  %table
    %tbody
      %tr
        %th{style: 'text-align:right'} Forma de pago: 
        %td= @payment_detail.transaction_type.upcase

      %tr
        %th{style: 'text-align:right'} Número de Transf.: 
        %td= @payment_detail.transaction_number

      %tr
        %th{style: 'text-align:right'} Banco Origen: 
        %td= @payment_detail.source_bank.name.upcase

      %tr
        %th{style: 'text-align:right'} Banco Destino: 
        %td= bank_account.bank.name.upcase

      %tr
        %th{style: 'text-align:right'} Cuenta Destino: 
        %td= bank_account.number 

      %tr
        %th{style: 'text-align:right'} Concepto: 
        %td= @payment_detail.course_description

      %tr
        %th{style: 'text-align:right'} Monto: 
        %td= number_to_currency(@payment_detail.mount, unit: 'Bs.', separator: ",", delimiter: ".")

      %tr
        %th{style: 'text-align:right'} Fecha: 
        %td= @payment_detail.created_at.strftime('%d/%m/%Y')

  %p En las próximas 48 horas hábiles estaremos procesando su pago, previa confirmación con el Banco.