.modal.fade{'aria-hidden': false, 'aria-labelledby': 'updateModalLabel', id: id}
  .modal-dialog.modal-lg
    .modal-content
      - if false #flash[:canvas]
        .alert.alert-info
          %p= flash[:canvas]
      = render 'layouts/message_alert'
      - if msg
        .alert.alert-info.text-center
          %h5= raw msg
        - if false
          .alert.alert-danger.text-center
            %h5= raw msg2
      %h5#updateModalLabel.text-center
        = title
      .modal-body
        .border.m-1.p-3
          = content
