!!!
%html
  %head
    %meta{:content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Fundeim-EIM-UCV'}"}

    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}


    %title Fundeim - Escuela de Idiomas Modernos - UCV
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'logo_favicon.ico'
  %body.grey-bg
    = render 'layouts/toastr_alert'
    - if user_signed_in?
      = react_component 'NavBarMainLogin' if @user and (@user.id.eql? current_user.id)
    - else
      = react_component 'NavBarMain'
    = yield
    = react_component 'FootBar'
