!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title Fundeim - Escuela de Idiomas Modernos - UCV
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'logo_favicon.ico'
  %body.grey-bg
    - if session[:user_id] and current_user.admin? and @user
      -# @aux = User.find session[:user_id]
      .border.border-danger
        .p-3.bg-danger.text-white.text-center
          
          - if @user.student? 
            Vista Estudante - 
            - url = "/admin/student/#{@user.student.id}?outSimulation=true"
          - elsif @user.instructor?
            Vista Instructor - 
            - url = "/admin/instructor/#{@user.instructor.id}?outSimulation=true"
          - else
            Vista Simulada
            - url = '/admin'
          = @user.description
          = link_to url, class: 'tooltip-btn btn btn-sm btn-primary float-right', title: 'Salir de Vista Simulada', placement: 'left' do
            %span.fa.fa-times
            Salir
    - elsif user_signed_in?
      %br
      = react_component 'NavBarMainLogin' 
      -# @perfil = current_user.description

      - if current_user.profile_image and current_user.profile_image.attached?
        =# image_tag(main_app.url_for(current_user.profile_image)).html_safe
        =# image_tag current_user.profile_image.variant(resize_to_limit: [100, 100]) 
        - @perfil = main_app.url_for(current_user.profile_image.variant(resize_to_limit: [35, 35]))

      :javascript

        document.addEventListener("turbolinks:load", () => {
          let img = document.createElement("img");
          us = document.getElementById('userName');
          us.text = `#{current_user.description}`
          
          img.src = `#{@perfil}`;
          // img.width = 35;

          us.appendChild(img);
        })
    - else
      = react_component 'NavBarMain'
    = render 'layouts/toastr_alert'
    = yield
    = react_component 'FootBar'

