!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fundeim - Escuela de Idiomas Modernos - UCV
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'logo_favicon.ico'
  %body.grey-bg
    = render 'layouts/toastr_alert'
    - if false #user_signed_in?
      = react_component 'NavBarMainLogin'
    - else
      = react_component 'NavBarMain'
    = yield
    = react_component 'FootBar'
