<!DOCTYPE html>
<html>
  <head>
    <title>Fundeim - Escuela de Idiomas Modernos - UCV</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/toastr_alert' %>
    <%= react_component 'NavBarMain' %>
    <%= yield %>
    <%= react_component 'FootBar' %>
  </body>
</html>
